<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
    rel="stylesheet">    
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../public/images/logo2.png">
                    <h2>e-<span class="danger">workout</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">
                        grid_view
                        </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        collections
                        </span>
                    <h3>Gallery</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        list
                        </span>
                    <h3>All Workouts</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        insert_emoticon
                        </span>
                    <h3>About</h3>
                </a>
            </div>
        </aside>
        <!------------------------------------END OF ASIDE------------------>
        
        <!------------------------------------MAIN------------------>
        <main>
            <h1>Main</h1>
            <div class="date">
                <input type="date" >
            </div>
             <!----------GOALS------------------>
            <div class="goals">
                <div class="sales">
                    <span class="material-icons-sharp">
                        analytics
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total</h3>
                            <h1>#43245434</h1>
                        </div>
                        <div class="progress">

                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>

                <div class="sales2">
                    <span class="material-icons-sharp">
                        analytics
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total</h3>
                            <h1>#43245434</h1>
                        </div>
                        <div class="progress">

                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>

                <div class="sales3">
                    <span class="material-icons-sharp">
                        analytics
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total</h3>
                            <h1>#43245434</h1>
                        </div>
                        <div class="progress">

                        </div>
                    </div>
                    <small class="text-muted">Last 24 Hours</small>
                </div>
            </div>
             <!----------WORKOUTS------------------>
            <div class="recent-workouts">
                <h2>Recent Workouts</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Workout Name</th>
                            <th>Muscle Group</th>
                            <th>Weight/Reps</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td class="primary">Details</td>
                        </tr>
                        <tr>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td>test</td>
                            <td class="primary">Details</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Show All</a>
            </div>
        </main>
    </div>
</body>
</html>