.training-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.training-item {
    width: 20rem;
    max-width: 95%;
}

.training__exercise {
    font-size: 1.2rem;
    text-align: center;
}

.training__reps,
.training__sets,
.training__muscleGroup {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.training__note {
    text-align: center;
}