extends ../layouts/navigation
block styles
    link(rel="stylesheet", href="../css/training.css")

block content
    main
        div.grid
            if workouts.length > 0
                each workout in workouts
                    article.card.training-item
                        header.card__header
                            h1 #{workout.id}
                        div.card__actions
                            form.training-form(action="/statistic-delete-workout", method="POST")
                                input(type="hidden", value=`${workout.id}`, name="workoutId")
                                button(type="submit" class="btn") Delete
            else
                h1 No workouts

