extends ../layouts/navigation

block styles
    link(rel="stylesheet", href="../css/training.css")
    link(rel="stylesheet", href="../css/forms.css")

block content
    main
        form.training-form(action="/admin/add-workout", method="POST")
            div.form-control
                label(for="title") Exercise title
                input(type="text", name="exerciseTitle")#title
            div.form-control
                label(for="imageUrl") Image
                input(type="text", name="exerciseImage")#imageUrl
            div.form-control
                label(for="workoutSets") Reps
                input(type="text", name="exerciseReps")#workoutReps
            div.form-control
                label(for="workoutReps") Sets
                input(type="text", name="exerciseSets")#workoutSets
            div.form-control
                label(for="muscleGroup") Muscle Group
                input(type="text", name="exerciseMuscleGroup")#muscleGroup
            div.form-control
                label(for="workoutNote") Note
                textarea(rows="5", name="exerciseNote")#workoutNote
            button.btn(type="submit") Add Workout

